body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      
a {
  color: #00B7FF;
}
.gris {
    background-color: #333;
}
nav span             { margin: 0px 10px 0px 0px;}

#ErrorMsgs           { color: #f61; font-size: smaler}

.right 				 {float: right;}

.quiz_img 			 { height: 150px; float: left;}
