<form method="get" action="/quizes">
	
	<input placeholder="Busca una pregunta" type="text" name="search" />

	</button><button class="waves-effect waves-teal btn-flat" type="sumit">Enviar<i class="mdi-content-send right"></i>
	</button>
	
</form>
  <table>
  <% var i; for (i=0; i < quizes.length; i++) { %>        
     <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr> 
  <% } %>
  </table>

<a href="/quizes/new">
  <button class="waves-effect waves-teal btn-flat" type="button">Crear pregunta<i class="mdi-content-create right"></i>
  </button></a>
