<form method="get" action="/quizes/<%= quiz.id %>/answer">        
  Pregunta: <%= quiz.pregunta %> <p>
   <input placeholder="Respuesta" type="text" name="respuesta" />
   <input type="submit" value="Enviar">
 </form>
